/* TYPOGRAPHY */

/* latin-ext */
@font-face {
  font-family: 'assistant';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Assistant-ExtraLight.ttf') format('truetype');  
}

@font-face {
  font-family: 'assistant';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Assistant-Light.ttf') format('truetype');  
}

@font-face {
  font-family: 'assistant';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Assistant-Regular.ttf') format('truetype');  
}

@font-face {
  font-family: 'assistant';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Assistant-SemiBold.ttf') format('truetype');  
}

@font-face {
  font-family: 'assistant';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Assistant-Bold.ttf') format('truetype');  
}

@font-face {
  font-family: 'assistant';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Assistant-ExtraBold.ttf') format('truetype');  
}

